.card {
    display: flex;
    box-shadow: -1px 1px 5px #ccc;
   
}
.button{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
.card-title{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
.card-text{
    text-align: center;
    align-content: center;
    
}
.jumbotron {
    font-weight: bold;
    font-size: 1rem;
}